{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container">
    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" href="#search">Search</a></li>

        {% if property %}
        <li><a data-toggle="pill" href="#crits">Critical Info</a></li>
        <li><a data-toggle="pill" href="#images">Images</a></li>
        <li><a data-toggle="pill" href="#map_pane">Map</a></li>
        {% endif %}
    </ul>
    <div class="tab-content">
        <div id="search" class="tab-pane fade in active">
            <form action="{% url 'address_lookup'%}" method="post" id="search-form">
                <ul class="list-inline">
                    {{form.as_ul}}
                </ul>
            {% csrf_token %}
            <button type="submit">Lookup address</button>
            {{coordinates}}
            <input id="coordinates" type="hidden" value="{{coordinates}}">
            </form>
        </div>
        {% if property %}
        <div id="crits" class="tab-pane fade">
            <h2>Critical Info</h2>
            <ul>
                <li><b>Address:</b> {{property.situs_address}}</li>
                <li><b>Owner Name:</b> {{property.owner_name}}</li>
                <li><b>Owner address the same?</b> {% if property.situs_address == property.owner_address %}<i>Yes</i>{% else %}No{% endif %}</li>
                <li><b>Fair Market Cash Value:</b> {{property.fair_cash_market_value}}</li>
                <li><b>Land Area:</b> {{property.land_area}}</li>
                <li><b>Zoning:</b> {{property.zoning}}</li>
            </ul>

            <h2>Improvements/Modifications</h2>
            <ol>
            {% for improvement in property.improvements %}
                {% for key,value in improvement.items %}
                <li><b>{{key}}</b> {{value}}</li>
                {% endfor %}
            {% endfor %}
            </ol>
        </div>
        <div id="images" class="tab-pane fade">
            <h1>Images</h1>
            <ul>
                {% for image in property.images %}
                <li><img src="{{image}}" /></li>
                {% endfor %}
            </ul>
        </div>
        <div id="map_pane" class="tab-pane fade">
            <div id="map" style='width: 400px; height: 400px;'></div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block script %}
    {% if property %}
    <script type="text/javascript">
        $('a[href="#crits"]').tab('show');
    </script>
    {% endif %}
    <script type="text/javascript" src="{% static '/js/prevalidate.js' %}"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_KEY}}&callback=initMap">
    </script>
    <script type="text/javascript" src="{% static '/js/google_map.js' %}"></script>

{% endblock %}
